In [2]:
import sys

import dask.array as da
import dask.dataframe as dd
import numpy as np
import pandas as pd
from numba import jit

In [1]:
from dask.distributed import Client, progress

client = Client(processes=False, threads_per_worker=2, n_workers=4, memory_limit="6GB")
client

In [3]:
client.close()

In [6]:
df = pd.DataFrame(
    {
        "population": [
            59000000,
            65000000,
            434000,  # doctest: +SKIP
            434000,
            434000,
            337000,
            11300,
            11300,
            11300,
        ],
        "GDP": [1937894, 2583560, 12011, 4520, 12128, 17036, 182, 38, 311],
        "alpha-2": ["IT", "FR", "MT", "MV", "BN", "IS", "NR", "TV", "AI"],
    },
    index=[
        "Italy",
        "France",
        "Malta",
        "Maldives",
        "Brunei",
        "Iceland",
        "Nauru",
        "Tuvalu",
        "Anguilla",
    ],
)

In [7]:
df

          population      GDP alpha-2
Italy       59000000  1937894      IT
France      65000000  2583560      FR
Malta         434000    12011      MT
Maldives      434000     4520      MV
Brunei        434000    12128      BN
Iceland       337000    17036      IS
Nauru          11300      182      NR
Tuvalu         11300       38      TV
Anguilla       11300      311      AI

In [8]:
df.nlargest(3, "population")

        population      GDP alpha-2
France    65000000  2583560      FR
Italy     59000000  1937894      IT
Malta       434000    12011      MT

In [35]:
df.nlargest(3, "population", keep="last")

        population      GDP alpha-2
France    65000000  2583560      FR
Italy     59000000  1937894      IT
Brunei      434000    12128      BN

In [36]:
df.nlargest(3, "population", keep="all")

          population      GDP alpha-2
France      65000000  2583560      FR
Italy       59000000  1937894      IT
Malta         434000    12011      MT
Maldives      434000     4520      MV
Brunei        434000    12128      BN

In [41]:
df.nlargest(
    3, ["population", "GDP"]
)  # keep='all' desende GDPye görede sıraladığı için sonuç değişmiyor

        population      GDP alpha-2
France    65000000  2583560      FR
Italy     59000000  1937894      IT
Brunei      434000    12128      BN