In [67]:
import numpy as np
import pandas as pd
import dask
import dask.dataframe as dd

In [68]:
df = pd.DataFrame({'x': [10, 2, 3, 4, 5],
                   'y': [10., 2., 3., 4., 5.]})

In [69]:
ddf = dd.from_pandas(df, npartitions=2)

In [70]:
df

    x     y
0  10  10.0
1   2   2.0
2   3   3.0
3   4   4.0
4   5   5.0

In [71]:
ddf.compute()

    x     y
0  10  10.0
1   2   2.0
2   3   3.0
3   4   4.0
4   5   5.0

In [77]:
# @dask.delayed
def myFunc(row):
    print(row)
    print("type of row => ",type(row))
    print("row.max() =>",row.max())
    print("Bitti")

    return row.max()

In [78]:
# a=ddf.assign(temp_f=lambda x: x.y * 9 + 50)
# a=ddf.assign(temp_f=lambda x: x.max())
a=ddf.assign(temp_f=myFunc).compute()

Dask DataFrame Structure:
                   x        y
npartitions=2
0              int64  float64
3                ...      ...
4                ...      ...
Dask Name: from_pandas, 2 tasks
type of row =>  <class 'dask.dataframe.core.DataFrame'>
row.max() => Dask Series Structure:
npartitions=1
x    float64
y        ...
dtype: float64
Dask Name: dataframe-max-agg, 5 tasks
Bitti

In [79]:
b= a.nlargest(2, 'temp_f')

In [80]:
b

Empty DataFrame
Columns: [x, y, temp_f]
Index: []

In [81]:
a

    x     y  temp_f
0  10  10.0     NaN
1   2   2.0     NaN
2   3   3.0     NaN
3   4   4.0     NaN
4   5   5.0     NaN