In [1]:
import pandas as pd

In [22]:
gdp_world_data = pd.read_csv('data/gdp_world_data.csv', 'r', delimiter=',', index_col=0) # indexi okurken verebilirsin veya aşağıdaki gibi sonradan da verebilirsin

In [23]:
gdp_world_data = gdp_world_data.set_index('Country (or dependent territory)')

In [24]:
gdp_world_data

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country (or dependent territory),,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15325.0,17890.0,20296.0,20170.0,20352.0,19687.0,19454.0,20235.0,19585.0,19990.0
Albania,2221.0,1333.0,843.0,1461.0,2361.0,2882.0,3200.0,2259.0,2560.0,3209.0,...,11938.0,12896.0,12323.0,12784.0,13238.0,11393.0,11865.0,13055.0,15202.0,15960.0
Algeria,61892.0,46670.0,49217.0,50963.0,42426.0,42066.0,46941.0,48178.0,48188.0,48845.0,...,161207.0,199394.0,209005.0,209703.0,213518.0,164779.0,159049.0,167555.0,180441.0,183687.0
Angola,11236.0,10891.0,8398.0,6095.0,4438.0,5539.0,6535.0,7675.0,6506.0,6153.0,...,82471.0,104116.0,115342.0,124912.0,126777.0,102962.0,95337.0,122124.0,107316.0,92191.0
Antigua and Barbuda,459.0,482.0,499.0,535.0,589.0,577.0,634.0,681.0,728.0,766.0,...,1146.0,1140.0,1214.0,1194.0,1273.0,1353.0,1460.0,1516.0,1626.0,1717.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,48391.0,53382.0,60400.0,59865.0,58357.0,77427.0,70536.0,85667.0,91905.0,97239.0,...,294282.0,334069.0,331457.0,228017.0,215296.0,260089.0,236116.0,143841.0,98468.0,76458.0
Vietnam,6472.0,7642.0,9867.0,13181.0,16312.0,20798.0,24692.0,26892.0,27234.0,28702.0,...,112771.0,134576.0,155483.0,170444.0,185759.0,191288.0,201309.0,220376.0,241272.0,260301.0
Yemen,12644.0,14665.0,17959.0,21737.0,28019.0,12796.0,6496.0,6838.0,6322.0,7639.0,...,30907.0,32726.0,35401.0,40415.0,43229.0,37734.0,20901.0,26819.0,26914.0,29079.0
Zambia,4085.0,3690.0,3614.0,3549.0,3657.0,3799.0,3599.0,4303.0,3538.0,3405.0,...,20265.0,23460.0,25504.0,28046.0,27151.0,21243.0,20941.0,25868.0,25179.0,24615.0
Zimbabwe,8780.0,8180.0,6746.0,6552.0,6889.0,7152.0,8758.0,8990.0,10572.0,10275.0,...,9445.0,10956.0,12472.0,13490.0,14197.0,14171.0,16117.0,21890.0,26127.0,22290.0

In [45]:
type(gdp_world_data.loc['Albania'])

pandas.core.series.Series

In [46]:
seri = gdp_world_data.loc['Albania']

In [47]:
seri.index

Index(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019'],
      dtype='object')

In [48]:
seri['2008']

12901.0

In [66]:
gdp_world_data.loc['Angola':'Armenia',:'1993']

                                      1990      1991      1992      1993
Country (or dependent territory)
Angola                             11236.0   10891.0    8398.0    6095.0
Antigua and Barbuda                  459.0     482.0     499.0     535.0
Argentina                         153205.0  205515.0  247987.0  256365.0
Armenia                                NaN       NaN     108.0     835.0

In [64]:
gdp_world_data.loc['Angola':'Armenia',:'1993'].count()

1990    3
1991    3
1992    4
1993    4
dtype: int64

In [65]:
gdp_world_data.loc['Angola':'Armenia',:'1993'].sum()

1990    164900.0
1991    216888.0
1992    256992.0
1993    263830.0
dtype: float64

In [62]:
gdp_world_data.loc['Angola'].count()

30