In [ ]:
import gc

import dask
import dask.array as da
import dask.dataframe as dd

In [ ]:
from dask.distributed import Client, progress

# client = Client(processes=True)
# client = Client(processes=False)
# client = Client(processes=False, threads_per_worker=2, n_workers=4, memory_limit="6GB")
client = Client("tcp://192.168.74.131:31280")

client

In [ ]:
df_1 = dd.read_csv("/mnt/nfs/gdpcsv/xa*.csv")

In [6]:
myKey = "abcdefgh"
mySecret = "abcdefgh"

storage_options = {
    "key": myKey,
    "secret": mySecret,
    "client_kwargs": {"endpoint_url": "http://192.168.74.131:32000"},
    "anon": False,
    "use_ssl": False,
}

# link = "http://192.168.74.131:32000/gdpcsv/xaf.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=abc12345%2F20200914%2F%2Fs3%2Faws4_request&X-Amz-Date=20200914T225833Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=a9dfc7cfd38de0ab5c5027655da49af98bb1c6105511e4eb72476380468403fa"
# df = dd.read_csv(link)

df = dd.read_csv("s3://gdpcsv/*.csv", storage_options=storage_options)

In [7]:
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [ ]:
del df_1

In [ ]:
client.restart()

In [ ]:
client.cancel(df_1)

In [ ]:
persisted = df_1.persist()

In [ ]:
del persisted

In [ ]:
gc.collect()

In [ ]:
df_1 = 0
persisted = 0

In [ ]:
%who

df_1.describe().visualize(filename='desc.png')

In [ ]:
df_1.columns

In [ ]:
df_1.index

In [ ]:
a = df_1.loc["Zimbabwe"]

In [ ]:
df_1.head()

In [ ]:
aa = persisted["Zimbabwe"]

In [ ]:
aa.compute()

In [ ]:
a.count().compute()

In [ ]:
a = df_1.groupby("Country Name")["Value"]

In [ ]:
a.max().visualize()

In [ ]:
b = persisted.groupby("Country Name")["Value"]

In [ ]:
b.max().visualize()

In [ ]:
res = da.arange(2000 * 1000, chunks=8192 * 8192)

In [ ]:
res2 = res.compute()